<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <h1>My Portfolio</h1>
    <h2>This is my first django deployed project</h2>
    <h2>I am Amulya Jain</h2>
    <a href="https://github.com/AmulyaJain2004/Django-Portfolio-Website" target="_blank">My Github Repo to this website</a>
    <ul>
        {% for project in projects %}
        <li>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            {% if project.link %}
            <a href="{{ project.link }}">View Project</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
